# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

AutoRA/
azureSets/
battlemod/
boxdestroyer/
checkparam/
Clock/
Debuffed/
distance/
DistancePlus/
GearInfo/
libs/
plugin_manager/
React/
Skillchains/
SpellBook/
SpellCheck/
targetinfo/
Omen/
NyzulHelper/
HealBot/
shortcuts/
thtracker/
TParty/
Trusts/
GearSwap/data/export/
GearSwap/data/Instructions.txt
GearSwap/equip_processing.lua
GearSwap/export.lua
GearSwap/flow.lua
GearSwap/gearswap.lua
GearSwap/helper_functions.lua
GearSwap/packet_parsing.lua
GearSwap/README.md
GearSwap/refresh.lua
GearSwap/statics.lua
GearSwap/targets.lua
GearSwap/triggers.lua
GearSwap/user_functions.lua
GearSwap/validate.lua
GearSwap/version_history.txt
GearSwap/beta_examples_and_information/Advanced sets tables.txt
GearSwap/beta_examples_and_information/Byrth_BLM.lua
GearSwap/beta_examples_and_information/Byrth_BRD.lua
GearSwap/beta_examples_and_information/Byrth_DNC.lua
GearSwap/beta_examples_and_information/Byrth_GEO.lua
GearSwap/beta_examples_and_information/Byrth_MNK.lua
GearSwap/beta_examples_and_information/Byrth_PLD.lua
GearSwap/beta_examples_and_information/Byrth_SMN.lua
GearSwap/beta_examples_and_information/Byrth_THF.lua
GearSwap/beta_examples_and_information/Byrth_WAR.lua
GearSwap/beta_examples_and_information/Snprphnx_SCH.lua
GearSwap/beta_examples_and_information/Variables.xlsx
DynaDShardHelper/data/
porter/
maga/
GearSwap/export/
Voidwalker/
Treasury/
autojoin/
Logger/
packetviewer/
/voidwatch/data
/pouches
/anchor
/scoreboard
/sparky
/PartyBuffs
/fisher
/PorterPacker
/autowsmb/data
/Roller
/autocontrol
